.regFormContainer {

}

.regForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 500px;
    margin: 0 auto;
}

.regButton {
    width: 120px;
    padding: 8px;
    border-radius: 5px;
    font-size: 22px;
    background-color: #4cb3f4;
    border: none;
    font-weight: 600;
}

.regInput {
    padding: 8px;
    border-radius: 5px;
    min-width: 100%;
        }
