.logInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.logInButton {
    width: 120px;
    padding: 8px;
    border-radius: 5px;
    font-size: 22px;
    background-color: #4cb3f4;
    border: none;
    font-weight: 600;
}

.logInButton:hover {
    background-color: rgb(45, 98, 221);
    transition: 400ms;
    color: beige;
}

.logInInput {
    padding: 8px;
    border-radius: 5px;
    min-width: 100%;
}

.logInMessage {
    position: absolute;
    top: 37px;
    left: 5px;
    font-weight: 400;
    color: red;
}