.link {
    font-weight: 500;
    color: #646cff;
    text-decoration: none;
    display: flex;
    gap: 30px;
    /* padding: 12px 32px;
    background-color: #d4dcdc; */

}

.link:hover {
    color: #010102;
}

.active {
    color: mediumvioletred;
}