body {
  font-family: 'montserrat';
    line-height: 1.5;
    padding: 25px;
    box-sizing: border-box;
    background-color: #92c3d4;
    box-shadow: inset 0px 0px 12px 9px aqua;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
